<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="ShoppingCartContext"
         connectionString="Server=16ff1de6-f8b1-402f-82b7-a38301711048.sqlserver.sequelizer.com;Database=db16ff1de6f8b1402f82b7a38301711048;User ID=ggushfoipksjvrcg;Password=NUhypKW7iLS48vA7bY5TY8adWBzU45nnYtStNLUMAYJMAMtq7TwaTuyPTeKVkbdn;" />
  </connectionStrings>
</configuration>